@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif !important;
  font-weight:  600 !important; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

div:where(.swal2-container) .swal2-input {
  height: 2.625em;
  padding: 0 .75em;
  margin: 10px 10px 10px 5px !important;
}

div:where(.swal2-container) .swal2-textarea {
  height: 6.75em;
  padding: .75em;
  margin: 10px 10px 10px 5px !important;
}

div:where(.swal2-container) .swal2-select {
  min-width: 50%;
  max-width: 100%;
  padding: .375em .625em;
  background: var(--swal2-input-background);
  color: inherit;
  font-size: 1.125em;
  margin: 10px 10px 10px 5px !important;
}